.links{
  border: 2px solid black;
  border-radius: 10px;
  width: 90%;
  height: 40px;
  padding: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;

  background-color: hsla(319, 90%, 59%, 1);
  font-size: 28px;
}

.links:hover{
  scale: 1.1;
}

/* voltar aqui e arrumar as cores dos links */

a:visited{
  color: #000;
}

a:active{
  color: aqua;
}

.container-app{
  /* background-color: aqua; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  background: hsla(276, 91%, 79%, 1);

  background: linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
  
  background: -moz-linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
  
  background: -webkit-linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#d397fa", endColorstr="#8364e8", GradientType=1 );
}