.principal_root {
    background-color: var(--cor-fundo-padrao);
    padding: 16px;
  
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .principal_titulo {
    display: flex;
    align-items: center;
    gap: 8px;
  }